.icon-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.nav-icon {
  width: 90%;
  height: 90%;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  max-width: 36px;
  max-height: 36px;
}

.icon-container:hover {
  background-color: #283d72;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-selected {
  background-color: #0b1429;
}
