.preview-container {
  display: grid;
  grid-template-rows: .5fr 1fr, 1fr;
  width: 100%;
}

.preview {
  margin: 25px;
  width: 180mm;
  height: 267mm;
  padding: 48px;
  background-color: white;
}

.preview-text {
  color: black;
}

.header-text {
  display: flex;
  color: black;
  font-size: 20px;
  margin: 0;
  justify-self: baseline;
}

.resume-container {
  display: flex;
  /* grid-template-rows: .01fr, 1fr; */

  align-items: start;
  justify-content: start;
}

/* START HERE, MAKE IT LOOK PRETTY PLEASE!! */

.resume-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}


/* 
.resume-header {
  grid-row: 1 / 2;
} */

.entry-names, .entry-dates {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 5px;
  padding-top: 5px;
}

.preview-bold {
  font-weight: bold;
}

.preview-italic {
  font-style: italic;
}

.resume-entry {
  display: flex;
  justify-content: space-between;
}

.preview-text {
  margin: 0;
}

.preview-description {
  text-align: left;
  padding-top: 5px;
}

hr {
  border: none; /* Remove default border */
  height: 1px; /* Set the height (thickness) */
  background-color: #333; /* Set the color */
  width: 100%; /* Set the width (e.g., 50% of its container) */
  margin: 0 auto; 
}



@media (min-width: 600px) {
  .preview-container {
    scale: 0.8;
  }
}

@media (min-width: 1024px) {
  .preview-container {
    scale: 1;
  }
}