#root {
  text-align: center;
}

body {
  margin: 0;
  width: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: 0.04fr 0.25fr 1fr;
}

.nav-container {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  background-color: #272932;
}

.form-container {
  grid-column: 2/3;
  background-color: #0b1429;
}
.preview-container {
  background-image: url("../src/assets/images/abstract-dark-wood-lo-3840x2160.jpg");
  background-size: cover;
  display: flex;
  background-color: white;
  grid-column: 3/4;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .form-container {
    width: 350px;
  }
}

.hide {
  display: none;
}
